/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, sass/screen.scss */
body {
  height: 100%;
  color: #515254;
  font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
  font-size: 14px;
}

/* line 17, sass/screen.scss */
b, strong {
  font-weight: 700;
  font-size: 14px;
}

/* line 22, sass/screen.scss */
p {
  margin: 0.4em 0;
}

/* line 25, sass/screen.scss */
img {
  max-width: 100%;
}

/* line 29, sass/screen.scss */
.layout {
  width: 1000px;
  height: 100px;
  margin: 0 auto;
}

/* line 37, sass/screen.scss */
header {
  height: 72px;
  margin: 2px 0 10px 0;
  *zoom: 1;
}
/* line 38, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
header:after {
  content: "";
  display: table;
  clear: both;
}

/* line 43, sass/screen.scss */
.header-layout {
  float: left;
  margin: 8px 0 0 16px;
}
/* line 46, sass/screen.scss */
.header-layout:first-child {
  margin: 0;
}

/* line 50, sass/screen.scss */
.logo {
  font-size: 0;
}

/* line 53, sass/screen.scss */
.phone {
  margin-left: 25px;
}
/* line 55, sass/screen.scss */
.phone p {
  color: #F5821F;
  font: bold 27px/28px "Arial Black",Arial,Helvetica,sans-serif;
  font-weight: 900;
  padding: 0px;
  margin: 0px;
}
/* line 62, sass/screen.scss */
.phone span {
  display: block;
  color: #EB9431;
  margin-top: -2px;
  font: bold 10px Arial,Helvetica,sans-serif;
  text-align: right;
}

/* line 72, sass/screen.scss */
.call-me {
  cursor: pointer;
  width: 152px;
  height: 65px;
  border-right: 3px solid #2B6CB4;
  text-align: right;
  padding-right: 10px;
  vertical-align: middle;
}
/* line 80, sass/screen.scss */
.call-me:hover {
  border-color: #FA680B;
}
/* line 82, sass/screen.scss */
.call-me:hover span {
  color: #FA680B;
  text-decoration: underline;
}
/* line 86, sass/screen.scss */
.call-me:hover .call-me-ico {
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  transition: 1s all ease;
  -webkit-transition: 1s all ease;
}
/* line 95, sass/screen.scss */
.call-me span {
  text-decoration: underline;
  font-family: sans-serif;
  color: #2B6CB4;
  font-size: 15px;
  line-height: 16px;
  font-weight: bold;
}
/* line 103, sass/screen.scss */
.call-me a {
  text-decoration: none;
}

/* line 109, sass/screen.scss */
.call-me-ico {
  height: 100%;
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  transition: 1s all ease;
  -webkit-transition: 1s all ease;
}

/* line 118, sass/screen.scss */
.call-me-link {
  display: -moz-inline-box;
  display: inline-block;
  width: 80px;
  vertical-align: middle;
  zoom: 1;
}

/* line 125, sass/screen.scss */
.banner {
  font-size: 0;
}

/* line 128, sass/screen.scss */
.b-header-language {
  height: 65px;
  background: #F9F5F0;
  float: right;
}
/* line 132, sass/screen.scss */
.b-header-language a {
  display: block;
  color: #2F2F2F;
  font: 10px Arial,Helvetica,sans-serif;
  padding: 4px 10px 4px 4px;
  text-decoration: none;
}
/* line 141, sass/screen.scss */
.b-header-language img {
  float: left;
  margin-right: 4px;
}
/* line 145, sass/screen.scss */
.b-header-language .selected {
  color: #ccc !important;
  cursor: default;
}

/* line 156, sass/screen.scss */
.b-main-menu {
  position: relative;
  background: #286FBF;
  height: 42px;
  clear: both;
  font-size: 0;
}
/* line 162, sass/screen.scss */
.b-main-menu > li {
  display: inline-block;
  position: relative;
  height: 26px;
  padding: 9px 0 7px;
  vertical-align: top;
}
/* line 163, sass/screen.scss */
.b-main-menu > li:hover {
  background: #FA6A0E;
}
/* line 171, sass/screen.scss */
.b-main-menu > li > a {
  font: bold 12px Arial,Helvetica,sans-serif;
  border-right: 0.1em solid #4881C1;
  display: inline-block;
  white-space: nowrap;
  background: none repeat scroll 0 0 transparent;
  color: #FFFFFF;
  line-height: 2.1em;
  min-width: 0;
  padding: 0 10px;
  text-align: center;
}
/* line 182, sass/screen.scss */
.b-main-menu > li > a:hover {
  border-color: #FA6A0E;
}

/* line 188, sass/screen.scss */
.menu-item-selected {
  background: #FA6A0E;
}
/* line 190, sass/screen.scss */
.menu-item-selected > a {
  border-color: #FD9D5F !important;
}

/* line 194, sass/screen.scss */
.menu-item-customisation-catalog {
  width: 178px;
}

/* line 197, sass/screen.scss */
.menu-item-customisation-catalog .main-menu-item {
  width: 135px !important;
}

/* line 200, sass/screen.scss */
.menu-item-customisation-ipoteka {
  width: 109px;
}

/* line 203, sass/screen.scss */
.menu-item-customisation-discount {
  width: 109px;
}

/* line 206, sass/screen.scss */
.menu-item-customisation-offices {
  width: 109px;
}

/* line 209, sass/screen.scss */
.menu-item-customisation-about {
  width: 107px;
}

/* line 212, sass/screen.scss */
.menu-item-customisation-shareholders {
  width: 155px;
  border-right: none !important;
}

/* line 216, sass/screen.scss */
.menu-item-customisation-press {
  width: 108px;
}

/* line 219, sass/screen.scss */
.menu-item-realty-dropdown > a {
  padding-right: 31px !important;
  background: url("../img/main-menu-dropdown-sprite.png") no-repeat scroll 155px 4px transparent !important;
}

/* line 229, sass/screen.scss */
.b-realty-list-breadcrumbs {
  position: relative;
  font-size: 13px;
  padding: 10px 0;
  background-color: #F8F8F8;
}
/* line 234, sass/screen.scss */
.b-realty-list-breadcrumbs ul {
  display: block;
  list-style: none;
}
/* line 238, sass/screen.scss */
.b-realty-list-breadcrumbs li {
  cursor: pointer;
  display: inline-block;
  padding: 3px 10px;
  position: relative;
}
/* line 243, sass/screen.scss */
.b-realty-list-breadcrumbs li > a {
  border-bottom: 1px dashed;
  text-decoration: none;
  color: #F9680B;
}

/* line 251, sass/screen.scss */
.b-breadcrumbs-dropdown-button {
  background: url("../img/icon-dropdown.png") no-repeat scroll 0 center transparent;
  border: 0 none !important;
  cursor: pointer;
  display: inline-block;
  height: 4px;
  margin-left: 3px;
  position: relative;
  top: -1px;
  width: 7px;
}

/* line 262, sass/screen.scss */
.b-breadcrumbs-separator {
  color: #B4B4B4;
  display: inline-block;
  margin: 0px -10px 0px 6px;
}

/* line 272, sass/screen.scss */
.realty-nav {
  background: #f5f5f5;
  font-size: 0;
}
/* line 275, sass/screen.scss */
.realty-nav li {
  display: inline-block;
  font-size: 14px;
}
/* line 281, sass/screen.scss */
.realty-nav a {
  color: black;
  display: block;
  padding: 8px 10px;
  background: #f5f5f5;
  text-decoration: none;
}
/* line 290, sass/screen.scss */
.realty-nav a:hover {
  background: #fa6a0f;
  color: #ffffff;
}
/* line 296, sass/screen.scss */
.realty-nav .realty-nav-btn-active {
  background: #FA6A0E;
  color: #ffffff;
}

/* line 301, sass/screen.scss */
.realty-content {
  *zoom: 1;
  border-top: 3px solid #FA6A0E;
  margin-top: -3px;
  position: relative;
  z-index: 2;
}
/* line 38, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.realty-content:after {
  content: "";
  display: table;
  clear: both;
}

/* line 309, sass/screen.scss */
.left-col {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 750px;
  float: left;
}

/* line 316, sass/screen.scss */
.object-address {
  padding: 10px 0 0 0;
}
/* line 318, sass/screen.scss */
.object-address h1 {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
}
/* line 323, sass/screen.scss */
.object-address h2 {
  display: inline-block;
  font-size: 12px;
}

/* line 328, sass/screen.scss */
.filter-wrapp {
  margin-top: 10px;
  font-size: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 336, sass/screen.scss */
.realty-filter-btn {
  font-size: 14px;
  display: inline-block;
  background: #F5F5F5;
  padding: 8px 14px;
  cursor: pointer;
}
/* line 343, sass/screen.scss */
.realty-filter-btn:hover {
  background: #FA6A0E;
  color: #ffffff;
}

/* line 348, sass/screen.scss */
.realty-filter-btn.active {
  background: #FA6A0E;
  color: #ffffff;
}

/* line 352, sass/screen.scss */
.realty-items-list {
  *zoom: 1;
}
/* line 38, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.realty-items-list:after {
  content: "";
  display: table;
  clear: both;
}

/* line 356, sass/screen.scss */
.realty-item {
  font-size: 14px;
  float: left;
  width: 240px;
  margin: 10px 10px 0 0;
  min-height: 70px;
  background: #f1f3f7;
}

/* line 365, sass/screen.scss */
.img-wrapp {
  margin-right: 10px;
  max-width: 90px;
  max-height: 70px;
  float: left;
  overflow: hidden;
}
/* line 371, sass/screen.scss */
.img-wrapp img {
  max-width: 100px;
}

/* line 376, sass/screen.scss */
.item-data {
  float: left;
}
/* line 378, sass/screen.scss */
.item-data p {
  text-overflow: ellipsis;
  width: 140px;
}
/* line 382, sass/screen.scss */
.item-data a {
  width: 140px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #1c5597;
}
/* line 387, sass/screen.scss */
.item-data a:hover {
  color: #FA680B;
}

/* line 393, sass/screen.scss */
.block-text {
  margin-top: 10px;
}

/* line 396, sass/screen.scss */
.right-col {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 250px;
  float: left;
  background: #f1f3f7;
  padding: 0 0 10px 0;
}

/* line 403, sass/screen.scss */
.rc-prices {
  font-size: 14px;
  margin: 15px 10px 0 10px;
}

/* line 418, sass/screen.scss */
.l-footer {
  *zoom: 1;
  color: #696969;
  font-size: 10px;
  margin: 20px 0 0;
  background: none repeat scroll 0 0 #F3F4F5;
  padding: 12px 15px;
}
/* line 38, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.l-footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 427, sass/screen.scss */
.l-footer-left {
  width: 730px;
  float: left;
}

/* line 433, sass/screen.scss */
.l-footer-right {
  float: right;
  width: 230px;
}

/* line 438, sass/screen.scss */
.b-footer-menu {
  position: relative;
  border-bottom: 1px solid #C3C3C3;
  margin: 0 0 20px;
  padding: 0 0 10px;
}

/* line 445, sass/screen.scss */
.b-footer-menu a {
  background: none repeat scroll 0 0 transparent;
  min-width: 0;
}

/* line 454, sass/screen.scss */
.b-footer-menu li {
  display: inline;
  font-size: 12px;
  font-weight: bold;
  list-style: none outside none;
  padding: 5px 10px 5px 0px;
}

/* line 463, sass/screen.scss */
.b-footer-menu a {
  color: #000000;
  text-decoration: none;
}

/* line 467, sass/screen.scss */
.f-info {
  *zoom: 1;
}
/* line 38, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.f-info:after {
  content: "";
  display: table;
  clear: both;
}

/* line 471, sass/screen.scss */
.f-info ul {
  float: left;
  margin: 0 47px 0 0;
  list-style: none outside none;
}

/* line 476, sass/screen.scss */
.f-info ul li {
  margin: 0 0 5px !important;
  padding: 0px !important;
}

/* line 481, sass/screen.scss */
.f-info ul li a {
  color: #9FA0A0;
  margin: 0 !important;
  padding: 0 !important;
}

/* line 488, sass/screen.scss */
.f-meta {
  margin-top: 20px;
}

/* line 492, sass/screen.scss */
.f-meta a {
  color: #696969;
  font-size: 10px;
}

/* line 497, sass/screen.scss */
.b-footer-contacts p {
  padding: 0px;
  margin: 0px;
  color: #1A3381;
  font: 16px tahoma;
}

/* line 504, sass/screen.scss */
.b-footer-call {
  padding: 10px 0px;
}

/* line 507, sass/screen.scss */
.b-footer-call a {
  border-bottom: 1px dotted #E05900;
  color: #E05900;
  font-size: 12px;
  text-decoration: none;
}

/* line 513, sass/screen.scss */
.b-footer-copyright {
  color: #000;
  font-size: 13px;
}

/* line 517, sass/screen.scss */
.b-footer-mobile-link {
  margin-top: 10px;
  display: block;
  font-size: 13px;
}
