<div class="realty-content">
    <div class="left-col">
        <div class="object-address">
            <h1>{{block.name}}</h1>
            <span>/</span>
            <h2>Московская область, Химки</h2>
        </div>
        <div class="filter-wrapp" ng-init="setType(100000000)">
            <span class="realty-filter-btn" ng-class="{active: isActive(100000000)}" ng-click="setType(100000000)" ng-if="realtyType.flats">Квартиры</span>
            <span class="realty-filter-btn" ng-class="{active: isActive(100000003)}" ng-click="setType(100000003)" ng-if="realtyType.commercial">Коммерческая недвижимость</span>
            <span class="realty-filter-btn" ng-class="{active: isActive(100000004)}" ng-click="setType(100000004)" ng-if="realtyType.cars">Машиноместа</span>
        </div>
        <div class="realty-items-list">
            <div class="realty-item"  ng-repeat="bulk in bulks | filter:realtyTypeFilter | filter: filterSaleStatus | orderBy:'-sort_inner'">
                <!--filter: flatsWithPrice('minprice', 0)-->
                <div class="img-wrapp">
                    <img ng-src="{{bulk.preview}}" class="bulk-prew" alt="bulk-img"/>
                </div>

                <div class="item-data">
                    <p>
                        <a ng-href="http://www.pik.ru/realty/moskovskaya-oblast/g.-himki/raion-levoberezhnyi/{{bulk.bulk_id}}">{{bulk.name}}</a>
                    </p>
                    <p><strong>{{printCost(bulk)}}</strong></p>
                    <div>
                        <img ng-src="{{bulk.interiorIco}}" alt="Отделка" title="{{bulk.interiorTxt}}"/>
                        <img ng-src="{{bulk.ipotekaIco}}" alt="Ипотека" title="{{bulk.ipotekaTxt}}"/>
                        <img ng-src="{{bulk.discountIco}}" alt="Акции" title="{{bulk.discountTxt}}"/>
                        <img ng-src="{{bulk.paymentIco}}" alt="Рассрочка" title="{{bulk.paymentTxt}}"/>
                        <img ng-src="{{bulk.building_statusIco}}" alt="Статус строительства" title="{{bulk.building_statusTxt}}"/>
                        <img ng-src="{{bulk.ParkingIco}}" alt="Парковка" title="{{bulk.ParkingTxt}}"/>
                    </div>

                </div>
            </div>

        </div>
        <!--<div class="block-actions">-->
        <!--<h2 class="slide-block-btn">Акции</h2>-->
        <!--<div class="slide-block-content">-->
        <!--<div class="realty-item"></div>-->
        <!--<div class="realty-item"></div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="block-text">
            <h2 class="slide-block-btn">Описание</h2>
            <div class="slide-block-content">
                <div ng-bind-html="renderHtml(block.description)"></div>
            </div>
        </div>

    </div>

    <div class="right-col">
        <img src="assets/img/prew.jpg" alt="prew"/>
        <div class="rc-prices" ng-if="minimums.minPriceFlats">
            <b>Квартиры:</b>
            <p>
                <span>Цена от </span><b>{{minimums.minPriceFlats }} руб.</b>
            </p>
            <p>
                <span ng-if="minimums.minPriceFlats1">1-ком.: от {{minimums.minPriceFlats1 }} руб.</span>
            </p>
            <p>
                <span ng-if="minimums.minPriceFlats2">2-ком.: от {{minimums.minPriceFlats2 }} руб.</span>
            </p>
            <p>
                <span ng-if="minimums.minPriceFlats3">3-ком.: от {{minimums.minPriceFlats3 }} руб.</span>
            </p>
            <p>
                <span ng-if="minimums.minPriceFlats4">4-ком.: от {{minimums.minPriceFlats4 }} руб.</span>
            </p>
        </div>
        <div class="rc-prices" ng-if="minimums.minPriceCommercial">
            <b>Коммерческая недвижимость:</b>
            <p>
                <span>Цена от </span><b>{{minimums.minPriceCommercial}} руб.</b>
            </p>
        </div>
        <div class="rc-prices" ng-if="minimums.minPriceCars">
            <b>Машиноместа:</b>
            <p>
                <span>Цена от </span><b>{{minimums.minPriceCars}} руб.</b>
            </p>
        </div>

        <div ng-repeat="office in unicOffices" ng-if="unicOffices">
            <img class="office-img" ng-src="{{office.photo}}" alt=""/></p>
            <div class="rc-prices">
                <p><b>{{office.title}}</b></p>
                <b>Телефоны:</b>
                <p ng-bind-html="renderHtml(office.phones)"></p>
                <b>Режим работы:</b>
                <p>Пн.- Вс. с 9:00 до 21:00</p>
                <b>Информация:</b>
                <p ng-bind-html="renderHtml(office.realty_content)"></p>
                <p><a href="#">Схема проезда</a></p>
                <p><a href="#">Яндекс.карты</a></p>
                <p><a href="#">Фото офиса</a></p>
            </div>
        </div>
    </div>
</div>